<div id='div-content' class='container main-margin'>
  <div class='row justify-content-evenly'>
    <div class='col-12 col-sm-12 px-0'>
      <div class='card border-light mb-3'>
        {{! ============================Image ,description , user name, date and likes ========================== }}
        <div class='row g-0'>
          <div class='col-md-6'>
            <img
              src='{{recipe.imagePath}}'
              class='img-fluid rounded'
              alt='recipe-image'
            />
          </div>
           <div class='col-md-6'>
            <div class='card-body'>
              <h3
                class='my-3'
                class='font-monospace card-title'
              >{{recipe.title}}</h3>
              <p class='fw-light fs-5'>{{recipe.description}}</p>
              <h6 class='card-subtitle text-body-secondary'>Published:
                {{format_date recipe.dateCreated}}</h6>
              <h6 class='my-3'>By :</h6>
              <h6 class='fs-5'>{{recipe.user.name}}</h6>
              <a id='like-link' class='position-relative'>
                {{#if Liked}}
                   <span
                  id='span-like'
                  class='opacity-100 m-4 badge rounded-pill fw-lighter'
                >
                {{else}}<span
                  id='span-like'
                  class='opacity-50 m-4 badge rounded-pill fw-lighter'
                >
                {{/if}}
                  <i
                    id='icon-like'
                    class='fa-solid fa-heart'
                    style='color: #9c162a;'
                  ></i>
                </span>
              </a>
              <h6
                id='recipe-likes'
                class='card-subtitle text-body-secondary'
              >{{recipe.likes}}
                likes</h6>
            {{#if isAuthored}}
            <button
            id='delete-recipe'
            class='btn btn-primary rounded-pill px-4 py-0 mt-4'
            type='submit' data-id='{{recipe.id}}'
          >Delete Recipe</button>
          {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class='mt-1' />
    {{! ============================Ingredients========================== }}
    <div
      class='bg-light-subtle shadow-sm p-3 mb-3 bg-body-tertiary rounded col-12 col-sm-6'
    >
      <h4 class='px-3 mb-3'>Ingredients</h4>
      <textarea
        class='px-3 py-3 textarea resize-ingredients'
      >{{recipe.ingredients}}</textarea>
    </div>
    {{! ============================Instructions========================== }}
    <div
      class='bg-light-subtle shadow-sm p-3 mb-3 bg-body-tertiary rounded col-12 col-sm-6'
    >

      <h4 class='px-3 mb-3'>Instructions</h4>
      <textarea
        class='px-3 py-3 textarea resize-instructions'
      >{{recipe.instructions}}</textarea>
    </div>
    <hr class='' />
    {{! ============================Comment========================== }}
    <div
      class='bg-light-subtle shadow-sm p-3 mb-5 bg-body-tertiary rounded col-12 col-sm-12'
    >
      <h5 class='px-3 mt-1 mb-3'>{{this.recipe.comments.length}} Comments 💬</h5>

      {{#each recipe.comments as |comment|}}
        <section class='mx-3'>
          <h6 class='fs-5 mb-0'>{{comment.user.name}}</h6>
          <h6 class='card-subtitle text-body-secondary mb-2'>
            {{format_date comment.dateCreated}}</h6>
          {{comment.comment}}
          <hr class='opacity-25' />
        </section>{{/each}}
         <section class='mx-3'>
      <form class='form comment-form'>
        <div class='form-group col-12 col-sm-12'>
          <input
            class='form-input'
            type='textArea'
            id='text-comment'
            placeholder='Comment'
          />
        </div>
        <div class='form-group'>
          <button
            id='save-comment'
            class='btn btn-primary rounded-pill px-4 py-0'
            type='submit'
          >Save</button>
        </div>
      </form>
</section>
    </div>
  </div>
</div>
<script src='/js/recipeDetails.js'></script>
